<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <style>
      #app {
        padding: 50px 0px;
        font-size: 150px;
        text-align: center;
      }
      .kyocho {
        color: red;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h1 v-html="currentContent"></h1>
      <a v-if="done" @click.prevent="reloadPage" class="reload">もう一回</a>
      <span v-if="autoMode" v-once>{{ sec }}秒</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      //
      new Vue({
        el: '#app',
        //
        data: {
          currentContent: '',
          cards: [],
          sec: -1,
        },
        //
        computed: {
          done () {
            return (this.cards.length < 1)
          },
          autoMode () {
            return (0 < this.sec)
          }
        },
        //
        created () {
          const dataType = (this.paramOf('data') || 'cities')
          
          const jsonUrl = `https://raw.githubusercontent.com/masa-kunikata/carta_reader/master/data/${dataType}.json`
          axios.get(jsonUrl)
            .then((res) => {
              this.cards = res.data
            })

          this.sec = parseInt((this.paramOf('sec') || '-1'), 10)
        },
        //
        mounted () {
          if (!this.autoMode) {
            window.addEventListener('click', this.nextCard)
            window.addEventListener('keydown', this.nextCard)
          }

          this.init()
        },
        //
        beforeDestoy () {
          if (!this.autoMode) {
            window.removeEventListener('click', this.nextCard)
            window.removeEventListener('keydown', this.nextCard)
          }
        },
        //
        methods: {
          //
          paramOf: (key) => {
            const s = location.search
            if (!s) return null
            if (s === '') return null
            const regex = new RegExp(key + "=([^&]+)")
            
            const m = s.match(regex)
            if (m) {
              return m[1]
            }
            return null
          },
          //
          getRandomInt: (max) => {
            return Math.floor(Math.random() * Math.floor(max))
          },
          //
          nextTarget (num) {
            if (num < 1) {
              return null
            }
            return this.getRandomInt(num)
          },
          //
          nextCard (event) {
            const index = this.nextTarget(this.cards.length)
            
            if (index == null) {
              this.currentContent = '終わり'
              return
            }
            let item = this.cards[index]
            
            if (typeof(item) == "string") {
              item = {
                text: item,
                html: null,
                read: item,
              }
            }
            if (!(item.read)) {
              item.read = item.text
            }
            
            this.currentContent = (item.html || item.text)
            
            try {
              speechSynthesis.speak(new SpeechSynthesisUtterance(item.read))
            } catch(e) {
              console.log(e)
            }
            this.cards.splice(index, 1)
          },
          //
          init () {
            if (!this.autoMode) {
              this.currentContent = 'クリック / なんかキー押す'
              return
            }
            
            //first
            setTimeout(
              this.nextCard,
              1000
            )
            setInterval(
              this.nextCard,
              1000 * this.sec
            )
          },
          //
          reloadPage () {
            location.reload()
          },
        },
      })
    </script>
  </body>
</html>