<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <style>
      #menu {
        margin: 1px 0px;
        font-size: 20px;
      }
      #content {
        margin: 50px 0px;
        font-size: 50px;
        text-align: center;
      }
      .kyocho {
        color: red;
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div id="menu" v-cloak>
        <input type="range" min="0" max="20" v-model="sec">
        <span>{{sec}} 秒</span>
        <button :disabled="!done" @click="reloadPage">もう一回</button>
        |
        <input type="range" min="0.1" max="10.0" step="0.1" v-model="speech_rate">
        <span>読む速さ {{speech_rate}}</span>
        |
        <input type="range" min="0.1" max="2.0" step="0.1" v-model="speech_rate">
        <span>声の高さ {{speech_rate}}</span>
        
      <div>
      <hr/>
      <div v-cloak id="content" @click="nextCard" @keydown="nextCard">
        <h1 v-html="currentContent"></h1>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      //
      new Vue({
        el: '#app',
        //
        data: {
          currentContent: '',
          cards: [],
          sec: -1,
          speech_rate: 1.0,   // speed 0.0 - 10.0
          speech_pitch: 1.0,  // pitch 0.0 - 2.0
        },
        //
        computed: {
          done () {
            return (this.cards.length < 1)
          },
          autoMode () {
            return (0 < this.sec)
          }
        },
        //
        watch: {
          autoMode (newVal, oldVal) {
            if (oldVal === false && newVal === true) {
              this.nextCard()
            }
          }
        },
        //
        created () {
          const dataType = (this.paramOf('data') || 'cities')
          
          const jsonUrl = `https://raw.githubusercontent.com/masa-kunikata/carta_reader/master/data/${dataType}.json`
          axios.get(jsonUrl)
            .then((res) => {
              this.cards = res.data
            })

          this.sec = parseInt((this.paramOf('sec') || '0'), 10)
        },
        //
        mounted () {
          this.init()
        },
        //
        methods: {
          //
          paramOf: (key) => {
            const s = location.search
            if (!s) return null
            if (s === '') return null
            const regex = new RegExp(key + "=([^&]+)")
            
            const m = s.match(regex)
            if (m) {
              return m[1]
            }
            return null
          },
          //
          getRandomInt: (max) => {
            return Math.floor(Math.random() * Math.floor(max))
          },
          //
          nextTarget (num) {
            if (num < 1) {
              return null
            }
            return this.getRandomInt(num)
          },
          //
          itemOf: (rec) => {
            let item = rec
            
            if (typeof(rec) == "string") {
              item = {
                text: rec,
                html: null,
                read: rec,
              }
            }
            if (!(item.read)) {
              item.read = item.text
            }
            return item
          },
          //
          nextCard (event) {
            const index = this.nextTarget(this.cards.length)
            
            if (index === null) {
              this.currentContent = '終わり'
              return
            }
            const item = this.itemOf(this.cards[index])
            
            this.currentContent = (item.html || item.text)
            
            try {
              const utterance = new SpeechSynthesisUtterance(item.read)
              utterance.rate = this.speech_rate
              utterance.pitch = this.speech_pitch

              speechSynthesis.speak(utterance)
            } catch(e) {
              console.log(e)
            }
            this.cards.splice(index, 1)
            
            if (this.autoMode) {
              setTimeout(
                this.nextCard,
                1000 * this.sec
              )
            }
          },
          //
          init () {
            if (!this.autoMode) {
              this.currentContent = 'クリック / なんかキー押す'
              return
            }
            // first time
            setTimeout(
              this.nextCard,
              1000
            )
          },
          //
          reloadPage () {
            location.reload()
          },
        },
      })
    </script>
  </body>
</html>